<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"> -->
    

	<title> Welcome </title>
</head>

<body class="text-white h-100  ">
 
<nav th:fragment="navbar" class="row navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container-fluid ">
    <a class="navbar-brand" href="/welcome">myMdb IO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  th:href="@{/welcome}">Home</a>
        </li>
          <div sec:authorize="hasAuthority('ADMIN')">
        <li class="nav-item">
          <a class="nav-link"  th:href="@{/admin/}">Users</a>
        </li>
        </div>
         <div sec:authorize="hasAuthority('USER')">
         	<li class="nav-item">
          		<a class="nav-link"  th:href="@{/movies/}">All Movies</a>
        	</li>
          </div>
           <div sec:authorize="hasAuthority('USER')">
         	<li class="nav-item">
          		<a class="nav-link"  th:href="@{/movies/}">Favorites</a>
        	</li>
 </div>
          <li class="nav-item">
         	 <a class="nav-link"  th:href="@{/movies/}">Movies</a>
       	 </li>
       	      <li class="nav-item">
         	 <a class="nav-link"  th:href="@{/movies/favorites(userId=${user.userId})}">Favorite Movies</a>
       	 </li>
       	 
        </ul>
    <div class="d-flex">
       <div class="dropdown">
        <!--  <div class="d-flex nav-item nav-link text-white"> -->
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span>Welcome, <span th:text="${user.username}"> </span> (<span th:text="${user.role}"></span>)</span></button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">                           
                               <a class="dropdown-item" th:href ="@{/logout}">Log-out</a>
                        </div>
      </div>
    </div>
    </div>
  <!-- </div> -->
   </div>
</nav>

	<div class="container">
	
		<form action="@{/user/save}" th:object="${user}"method="POST">
		<div class="form-group row">
		
		<input type="hidden" th:field="${user.userId}"/>
		
		<input type="text" placeholder="First Name" th:field="${user.firstName}">
		
		<input type="text" placeholder="Last Name" th:field="${user.lastName}">
		
		<input type="text" placeholder="Username" th:field="${user.username}">
		
		<input type="hidden" placeholder="Password" th:field="${user.password}">
		
		<input type="email" placeholder="Email" th:field="${user.email}">
		
		<input type="checkbox" placeholder="confirmed" th:field="${user.confirmed}">
		
		</div>
		
		<select th:field="${user.role}">
			<option th:value="USER"> User </option>
			<option th:value="CINEMAOWNER"> Cinema Owner </option>
		</select>
		
		
	
		<button type="submit">Create User</button>
		
		</form>
	</div>

</body>
</html>