    /* h1 {
        background-color: rgb(240, 235, 240);
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        border-top: 0px;
        padding-top: 0px;
        margin: 0px;
        color: black;
        font-family: sans-serif;
    } 
    #login {
        text-align: right;
        position: fixed;
        width: 100%;
        top: 10px;
        right: 5px;
    } 
    #home {
        text-align: right;
        position: fixed;
        width: 100%;
        top: 10px;
        right: 70px;
    } 
form{
        font-size: 20px;
        text-align: center;
}
 */

 body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
        background: url(../img/bg.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
      
}

.btn-primary {
    
    border-color: rgb(52, 185, 172);
    background-color: rgb(52, 185, 172);
}
.btn-primary:hover {

    border-color: rgb(35, 124, 115);
    background-color: rgb(35, 124, 115);
    border-width: 4px;
}
.btn-primary:active {
    border-color: rgb(35, 124, 115);
    background-color: rgb(110, 187, 179);
}


.form-container {
   background: rgb(194, 185, 185);
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 0px 15px black;
   border: 1px solid black;	/* thickness and color of border */


}

.form-title {
    font-weight: bold;
}
.err-message {
    font-weight: bold;
    color: red;
}

html::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.table {
	 z-index: 2;
}