<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>New Movie</title>
</head>
<body>



	<div class="container">
	<h3 class="text-dark">New Movie</h3>
	<hr>
	
		<form th:action="@{/movies/save}" th:object="${movie}"method="post">
		
		<section>
		<div class="form-group row">
		
		<label>Title:</label>
		<input type="text" placeholder="Movie Title" th:field="${movie.title}">
	</div>
		<div class="form-group row">
		<label>Category:</label>
		<input type="text" placeholder="Category" th:field="${movie.category}"></input>
		</div>
			<div class="form-group row">
		<label>Start Date:</label>
		<input type="date" placeholder="Start Date" th:field="${movie.startDate}"></input>
		</div>
			<div class="form-group row">
		<label>End Date:</label>
		<input type="date" placeholder="End Date" th:field="${movie.endDate}" ></input>
</div>

			<div class="form-group row">
		<label>Cinema Name:</label>
		<input type="text"  th:field="${movie.cinemaName}" th:placeholder="${myCinema.name}"  th:value="${myCinema.name}" readonly ></input>
</div>
<div class="form-group row">
		<label>Cinema id:</label>
		
		<input type="text"  th:field="${movie.theCinema}" th:placeholder="${myCinema.cinemaId}" th:value="${myCinema.cinemaId}"   readonly></input>
	   
</div>

	<!--
	<textarea type="date" placeholder="Start Date" th:field="${movie.category}"></textarea>
		-->
		<button class="btn btn-info btn-sm" type="submit">Create Movie</button>
		
		</section>
		</form>
		<br/>
				<a class="btn btn-primary btn-sm"th:href ="@{/owner/cinemas/}" >
 						Back
 					</a>
	</div>

</body>
</html>